*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Special Elite', cursive;
}

header{
    width: 100%;
    height: 80vh;
    background-image: url("../imagenes/need_for_speed_PNG33.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 40px;
}

.principal{
    text-align: justify;
    margin: 20px;
}

.principal p{
    margin: 20px;
}

.principal article{
    border: 2px dotted black;
    margin: 10px 50px;
    padding: 20px;
    text-align: center;
}

.principal h2{
    text-align: center;
    font-size: 30px;
}

.container-gal{
    width: 95%;
    align-content: center;
    margin: 0 auto;
}

div.galeria{
    margin: 10px;
    box-shadow: 2px 4px 8px gray;
    width: 300px;
    margin: 0 auto;
    display: inline-block;
    margin-left: 10px;
}

.galeria img{
    width: 300px;
    height: 300px;
    margin: 10px auto;
}

footer{
    background-color: whitesmoke;
    color: black;
    height: 50px;
    text-align: center;
    padding: 20px;
    font-size: 22px;
}